@media (min-width: 1680px) {
    .container {
        width: 90%;
    }
    #main-content {
        height: 1050px;
    }
    #main-content .inner {
        height: 340px;
    }
    .inner {
        padding: 50px 80px 50px 80px;
    }
    .inner>h2 {
        font-size: 48px;
    }
    .inner p {
        font-size: 24px;
    }
    .inner a {
        font-size: 24px;
    }
    /* ABOUT PAGE */
    .about-content h1:after {
        left: 10px;
        top: 105px;
        width: 9%;
    }
    .about-content h1 {
        font-size: 30px;
    }
    .about-content h5 {
        font-size: 24px;
    }
    .about-content p {
        font-size: 24px;
        line-height: 35px;
    }
    .title h1 {
        font-size: 30px;
    }
    .title h1:after {
        width: 10%;
        top: 104px;
    }
    .skill-item .progress-title {
        font-size: 24px;
    }
    .skill-item .progress .progress-value {
        font-size: 24px;
    }
    .skill-item .progress .html5 {
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .skill-item .progress .css {
        position: absolute;
        top: 80px;
        right: 30px;
    }
    .skill-item .progress .js {
        position: absolute;
        top: 145px;
        right: 30px;
    }
    .skill-item .progress .bootstrap {
        position: absolute;
        top: 215px;
        right: 30px;
    }
    .education h4 {
        font-size: 30px;
    }
    .experience h4 {
        font-size: 30px;
    }
    .education h4:after {
        width: 29%;
        top: 34px;
    }
    .experience h4:after {
        width: 32%;
        top: 34px;
    }
    .education .education-card-1 h5,
    .education .education-card-2 h5,
    .education .education-card-3 h5,
    .experience-card-1 h5,
    .experience-card-2 h5,
    .experience-card-3 h5 {
        font-size: 26px;
    }
    .education-card-1 p,
    .education-card-2 p,
    .education-card-3 p,
    .experience-card-1 p,
    .experience-card-2 p,
    .experience-card-3 p {
        font-size: 24px;
    }
    /* WORK PAGE */
    .work-heading h1 {
        font-size: 40px;
    }
    .work-heading:after {
        left: 95px;
        top: 180px;
        width: 9.5%;
    }
    .work-content p {
        font-size: 24px;
        line-height: 35px;
    }
    /* CONTACT PAGE */
    #contact {
        height: 960px;
    }
    /* .contact-heading {
        font-size: 38px;
    } */
    .contact-heading:after {
        left: 90px;
        top: 180px;
        width: 10%;
    }
    .contact-form,
    .contact-details {
        padding-top: 120px;
    }
    input[type=text]::placeholder {
        font-size: 24px;
    }
    input[type=submit] {
        font-size: 24px;
    }
    .address h4,
    .phone h4,
    .email-address h4 {
        font-size: 24px;
    }
    .address p,
    .phone p,
    .email-address p {
        font-size: 24px;
    }
    /* SERVICE PAGE */
    .content {
        height: 980px;
    }
    .service-title h1 {
        font-size: 30px;
    }
    .service-title h1:after {
        left: 80px;
        top: 108px;
        width: 13.5%;
    }
    .service-wrapper {
        height: 800px;
        padding-top: 40px;
    }
    .service-card {
        height: 380px;
    }
    .card-content p {
        font-size: 24px;
    }
    .card-title h5 {
        font-size: 26px;
    }
    footer .copy-right {
        font-size: 18px;
    }
    footer .social-links a {
        font-size: 18px;
    }
}

@media (min-width: 1440px) {
    /* HOME PAGE */
    #main-content{
        margin-bottom: 55px;
    }
    .nav-inner {
        height: 75px;
    }
    .navbar-brand {
        font-size: 28px;
    }
    .btn-box .fa {
        font-size: 28px;
    }
    .inner {
        height: 269px;
    }
    .inner>h2 {
        font-size: 48px;
    }
    .inner p {
        font-size: 24px;
    }
    .inner a {
        font-size: 24px;
    }
    /* ABOUT PAGE */
    .about-content h1 {
        font-size: 48px;
    }
    .about-content h1::after {
        left: 15px;
        top: 120px;
        width: 14.5%;
    }
    .about-content>h5 {
        font-size: 24px;
    }
    .about-content p {
        font-size: 18px;
        line-height: 28px;
    }
    .title h1 {
        font-size: 48px;
    }
    .title h1:after {
        left: 15px;
        top: 120px;
        width: 18%;
    }
    .progress {
        height: 10px;
        border-radius: 50px;
        /*    border: 1px solid #25ca7f;*/
    }

    .progress-title{
        font-size: 18px;
    }
    
    .skill-item .progress .progress-value {
        /*    background-color: #ffb100;*/
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        font-family: "Roboto Mono", monospace;
    }
    
    .skill-item .progress .html5 {
        position: absolute;
        top: 10px;
        right: 30px;
    }
    
    .skill-item .progress .css {
        top: 70px;
    }
    
    .skill-item .progress .js {
        top: 130px;
    }
    
    .skill-item .progress .bootstrap {
        top: 187px;
    }

    .education h4, .experience h4 {
        font-size: 28px;
    }
    .education h4:after {
        left: 15px;
        top: 30px;
        width: 31.8%;
    }
    .experience h4:after {
        left: 15px;
        top: 30px;
        width: 34.5%;
    }
    .advertise{
        margin-bottom: 70px;
    }
    /* WORK PAGE */
    .work-heading {
        font-size: 48px;
    }
    .work-heading:after {
        left: 140px;
        top: 215px;
        width: 14.5%;
    }
    .work-title{
        font-size: 36px;
    }
    .work-content p {
        font-size: 18px;
    }
    /* CONTACT PAGE */
    .contact-heading {
        margin-left: 10px;
        font-size: 48px;
    }
    .contact-heading:after {
        left: 160px;
        top: 215px;
        width: 14%;
    }

    .contact-form p{
        font-size: 18px;
    }

    /* SERVICES PAGE */
    .service-title h1 {
        font-size: 48px;
    }
    .service-title h1:after {
        left: 27px;
        top: 120px;
        width: 24%;
    }
    .card-title h5{
        font-size: 24px;
    }
}

@media (max-width: 1366px) {
    /* HOME PAGE */
    #main-content{
        margin-bottom: 55px;
    }
    .nav-inner {
        height: 75px;
    }
    .navbar-brand {
        font-size: 28px;
    }
    .btn-box .fa {
        font-size: 28px;
    }
    .inner {
        height: 269px;
    }
    .inner>h2 {
        font-size: 47px;
    }
    .inner p {
        font-size: 24px;
    }
    .inner a {
        font-size: 24px;
    }
    /* ABOUT PAGE */
    .about-content h1 {
        font-size: 48px;
    }
    .about-content h1::after {
        left: 15px;
        top: 120px;
        width: 15%;
    }
    .about-content>h5 {
        font-size: 24px;
    }
    .about-content p {
        font-size: 18px;
        line-height: 28px;
    }
    .title h1 {
        font-size: 48px;
    }
    .title h1:after {
        left: 15px;
        top: 120px;
        width: 18.8%;
    }
    .progress {
        height: 10px;
        border-radius: 50px;
        /*    border: 1px solid #25ca7f;*/
    }

    .progress-title{
        font-size: 18px;
    }
    
    .skill-item .progress .progress-value {
        /*    background-color: #ffb100;*/
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        font-family: "Roboto Mono", monospace;
    }
    
    .skill-item .progress .html5 {
        position: absolute;
        top: 10px;
        right: 30px;
    }
    
    .skill-item .progress .css {
        top: 70px;
    }
    
    .skill-item .progress .js {
        top: 130px;
    }
    
    .skill-item .progress .bootstrap {
        top: 187px;
    }

    .education h4, .experience h4 {
        font-size: 28px;
    }
    .education h4:after {
        left: 15px;
        top: 30px;
        width: 33%;
    }
    .experience h4:after {
        left: 15px;
        top: 30px;
        width: 36.8%;
    }
    .advertise{
        margin-bottom: 70px;
    }
    /* WORK PAGE */
    .work-heading {
        font-size: 48px;
    }
    .work-heading:after {
        left: 105px;
        top: 215px;
        width: 14.8%;
    }
    .work-title{
        font-size: 36px;
    }
    .work-content p {
        font-size: 18px;
    }
    /* CONTACT PAGE */
    .contact-heading {
        margin-left: 10px;
        font-size: 48px;
    }
    .contact-heading:after {
        left: 115px;
        top: 215px;
        width: 15%;
    }

    .contact-form p{
        font-size: 18px;
    }

    /* SERVICES PAGE */
    .service-title h1 {
        font-size: 48px;
    }
    .service-title h1:after {
        left: 27px;
        top: 120px;
        width: 26%;
    }
    .card-title h5{
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    /* ABOUT PAGE */
    .about-content h1::after {
        width: 8%;
    }
    .title h1:after {
        width: 9%;
    }
    .education h4:after {
        width: 24.5%;
    }
    .experience h4:after {
        width: 27.5%;
    }
    /* WORK PAGE */
    .work-heading:after {
        left: 20px;
        top: 180px;
        width: 13%;
    }
    /* CONTACT PAGE */
    .contact-heading:after {
        left: 60px;
        top: 180px;
        width: 13%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 13%;
    }
}

@media (max-width: 1024px) {
    /* HOME PAGE */
    #main-content{
        margin-bottom: 55px;
    }
    .nav-inner {
        height: 50px;
    }
    .navbar-brand {
        font-size: 28px;
    }
    .btn-box .fa {
        font-size: 28px;
    }
    .inner {
        height: 285px;
    }
    .intro h2{
        font-size: 33px !important;
    }
    .inner>h2 {
        font-size: 40px;
    }
    .inner p {
        font-size: 20px;
    }
    .inner a {
        font-size: 20px;
    }

    footer{
        height: 50px;
    }
    /* ABOUT PAGE */
    .about-content h1 {
        font-size: 40px;
    }
    .about-content h1::after {
        left: 15px;
        top: 110px;
        width: 17%;
    }
    .about-content>h5 {
        font-size: 24px;
    }
    .about-content p {
        font-size: 18px;
        line-height: 25px;
    }
    .title h1 {
        font-size: 40px;
    }
    .title h1:after {
        left: 15px;
        top: 115px;
        width: 22%;
    }
    .progress-title{
        font-size: 18px;
    }
    .skill-item .progress .progress-value {
        /*    background-color: #ffb100;*/
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        font-family: "Roboto Mono", monospace;
    }
    
    .skill-item .progress .html5 {
        position: absolute;
        top: 10px;
        right: 30px;
    }
    
    .skill-item .progress .css {
        top: 70px;
    }
    
    .skill-item .progress .js {
        top: 130px;
    }
    
    .skill-item .progress .bootstrap {
        top: 187px;
    }
    .education h4, .experience h4 {
        font-size: 28px;
    }
    .education h4:after {
        left: 15px;
        top: 30px;
        width: 44%;
    }
    .experience h4:after {
        left: 15px;
        top: 30px;
        width: 49%;
    }

    .advertise h2{
        font-size: 24px;
    }
    .advertise a{
        margin-top: 18px;
    }
    /* WORK PAGE */
    .work-title{
        margin-top: 0px;
    }
    .work-content {
        padding: 10px 30px 20px;
    }

    .work-heading:after {
        left: 34px;
        top: 180px;
        width: 15%;
    }
    /* CONTACT PAGE */
    .contact-heading{
        margin-left: 15px;
    }
    .contact-heading:after {
        left: 55px;
        top: 180px;
        width: 15.5%;
    }
    /* SERVICE PAGE */
    .service-title h1 {
        font-size: 40px;
    }
    .service-title h1:after {
        left: 27px;
        top: 115px;
        width: 29%;
    }
    .card-title h5{
        font-size: 17px;
    }
}

@media (max-width: 768px) {
     /* HOME PAGE */
     
    .inner {
        height: 316px;
    }
    .intro h2{
        font-size: 22px !important;
    }
    .inner>h2 {
        font-size: 44px;
    }
    .inner p {
        font-size: 20px;
    }
    .inner a {
        font-size: 22px;
    }
    
    /* ABOUT PAGE */
    .center{
        margin: 0px 20px;
    }
    .about-content {
        /* border: 1px solid red; */
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-content h1::after {
        width: 16%;
        top: 33px;
        left: 44px;
    }
    #skill-section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title h1:after {
        width: 22%;
        top: 33px;
    }
    #education-experience {
        padding-left: 30px;
        padding-right: 30px;
    }
    .education h4:after {
        width: 22.5%;
        top: 20px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 24.5%;
        top: 20px;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    .advertise a{
        margin-top: 30px;
    }
    /* WORK PAGE */
    .work-heading{
        padding: 50px;
    }
    .work-heading:after {
        left: 63px;
        top: 240px;
        width: 27.5%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        padding: 50px;
    }
    
    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
        padding: 50px;
    }
    /* CONTACT PAGE */

    #contact{
        margin: 0px 20px;
    }
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .contact-heading:after {
        left: 45px;
        top: 195px;
        width: 28%;
    }
    .contact-details {
        padding-left: 0px;
    }
    /* SERVICE PAGE */
    .content{
        padding: 0px 50px;
        margin-bottom: 80px;
    }
    .service-title h1:after {
        width: 28%;
    }
    .service-card {
        padding: 20px;
    }
}

@media (max-width: 640px) {
    /* ABOUT PAGE */
    .about-content {
        /* border: 1px solid red; */
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-content h1::after {
        width: 10%;
        top: 15px;
        left: 44px;
    }
    #skill-section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title h1:after {
        width: 13%;
        top: 15px;
    }
    #education-experience {
        padding-left: 30px;
        padding-right: 30px;
    }
    .education h4:after {
        width: 17.5%;
        top: 13px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 19.5%;
        top: 13px;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    /* WORK PAGE */
    /* #work {
        padding-left: 30px;
        padding-right: 30px;
    } */
    .work-heading:after {
        left: 13px;
        top: 180px;
        width: 25%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        margin-top: 50px;
    }
    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
    }
    /* CONTACT PAGE */
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-left: 5px;
    }
    .contact-heading:after {
        left: 15px;
        top: 180px;
        width: 24%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 16.5%;
    }
    .service-card {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    /* ABOUT PAGE */
    .about-content {
        /* border: 1px solid red; */
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-content h1::after {
        width: 13.5%;
        top: 15px;
        left: 44px;
    }
    #skill-section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title h1:after {
        width: 18%;
        top: 15px;
    }
    #education-experience {
        padding-left: 30px;
        padding-right: 30px;
    }
    .education h4:after {
        width: 24.5%;
        top: 13px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 26.5%;
        top: 13px;
    }
    .advertise {
        display: block;
        text-align: center;
    }
    .advertise a {
        float: none;
        margin-top: 10px;
        width: 50%;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    /* WORK PAGE */
    /* #work {
        padding-left: 30px;
        padding-right: 30px;
    } */
    .work-heading:after {
        left: 13px;
        top: 180px;
        width: 33%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        margin-top: 50px;
    }
    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
    }
    /* CONTACT PAGE */
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-left: 5px;
    }
    .contact-heading:after {
        left: 15px;
        top: 180px;
        width: 33%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 22%;
    }
    .service-card {
        padding: 20px;
    }
}

@media (max-width: 360px) {
    /* HOME PAGE */
    .copy-right p{
        font-size: 8px;
        margin: 0px;
    }

    footer{
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }

    footer .social-links a{
        font-size: 8px;
    }

    /* ABOUT PAGE */
    .about-content h1 {
        font-size: 30px;
    }
    .about-content {
        /* border: 1px solid red; */
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-content h1::after {
        width: 27%;
        top: 22px;
        left: 24px;
    }
    .about-content>h5 {
        font-size: 18px;
    }
    .about-content p {
        font-size: 14px;
        line-height: 25px;
    }
    #skill-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .title h1 {
        font-size: 30px;
    }
    .title h1:after {
        width: 34.5%;
        top: 23px;
    }
    #education-experience {
        padding-left: 10px;
        padding-right: 10px;
    }
    .education h4:after {
        width: 48.5%;
        top: 20px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 53.5%;
        top: 20px;
    }
    .advertise {
        display: block;
        text-align: center;
    }
    .advertise a {
        float: none;
        margin-top: 10px;
        width: 50%;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    /* WORK PAGE */
    .work-heading {
        padding: 10px;
        font-size: 36px;
    }
    .work-heading:after {
        left: 20px;
        top: 190px;
        width: 46%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        padding: 10px;
    }

    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
        padding: 10px;
    }

    .work-title {
        font-size: 30px;
    }
    .work-content p {
        font-size: 14px;
    }
    /* CONTACT PAGE */
    .contact-heading {
        margin-left: 10px;
        font-size: 30px;
    }
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: block;
        justify-content: space-evenly;
        padding-left: 5px;
    }
    .contact-heading:after {
        left: 40px;
        top: 175px;
        width: 39%;
    }
    .contact-form p {
        font-size: 14px;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 55.5%;
    }
    .service-card {
        padding: 20px;
    }
    .col-xs-6 {
        width: 100%;
    }
    .content {
        padding: 0px 10px;
        margin-bottom: 80px;
    }
}

@media (max-width: 320px) {
    /* ABOUT PAGE */
    .about-content {
        /* border: 1px solid red; */
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-content h1::after {
        width: 20%;
        top: 15px;
        left: 24px;
    }
    #skill-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .title h1:after {
        width: 26.5%;
        top: 15px;
    }
    #education-experience {
        padding-left: 10px;
        padding-right: 10px;
    }
    .education h4:after {
        width: 35.5%;
        top: 13px;
    }
    .experience h4 {
        margin-top: 70px;
    }
    .experience h4:after {
        width: 38.5%;
        top: 13px;
    }
    .advertise {
        display: block;
        text-align: center;
    }
    .advertise a {
        float: none;
        margin-top: 10px;
        width: 50%;
    }
    .advertise h2 {
        font-size: 20px;
        margin-top: 35px;
    }
    /* WORK PAGE */
    /* #work {
        padding-left: 30px;
        padding-right: 30px;
    } */
    .work-heading:after {
        left: 13px;
        top: 180px;
        width: 52%;
    }
    .row-space {
        display: flex;
        flex-direction: column;
    }
    .row-space .work-img {
        /* border: 1px solid red; */
        order: 1;
        width: 100%;
        margin-top: 50px;
    }
    .row-space .work-content {
        /* border: 1px solid blue; */
        order: 2;
        width: 100%;
    }
    /* CONTACT PAGE */
    #contact>.container {
        display: flex;
        flex-direction: column;
    }
    #contact>.container .contact-form {
        /* border: 1px solid red; */
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    #contact>.container .contact-details {
        /* border: 1px solid blue; */
        order: 1;
        width: 100%;
        display: block;
        justify-content: space-evenly;
        padding-left: 5px;
    }
    .contact-heading:after {
        left: 15px;
        top: 180px;
        width: 50%;
    }
    /* SERVICE PAGE */
    .service-title h1:after {
        width: 34%;
    }
    .service-card {
        padding: 20px;
    }
    .col-xs-6 {
        width: 100%;
    }
}