* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*    overflow-x: none;*/
    font-family: "Poppins";
}

body {
    /*    background-color: #283040;*/
    background-color: #232531;
    /*    overflow: hidden;*/
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Roboto Mono", monospace;
    color: whitesmoke;
}

.green-color {
    color: #25ca7f;
}

#main-content a {
    text-decoration: none;
    color: whitesmoke;
}

#navbar-box {
    background-color: white;
}

.nav-inner {
    /*    border: 1px solid purple;*/
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50px;
    width: 100%;
    /*    align-items: center;*/
}

.brand-logo {
    /*    border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.brand-logo a {
    text-decoration: none;
    color: black;
}

.brand-logo span {
    font-family: "Roboto Mono", monospace;
    margin-top: 9px;
    /*    border: 1px solid yellow;*/
    font-weight: bold;
    letter-spacing: 2px;
}

.btn-box {
    /*    border: 1px solid blue;*/
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #283040;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
}

.close-btn-box {
    /*    border: 1px solid red;*/
    margin-top: 50px;
    text-align: center;
}

.overlay .overlay-content .close-btn {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: whitesmoke;
    transition: .3s;
}

.overlay .overlay-content .close-btn:hover {
    color: darkorange;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.nav-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
}

.nav-links li {
    padding: 20px 20px;
}

.nav-links li a {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    letter-spacing: 1px;
    color: whitesmoke;
}

.nav-links li a:hover {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    /*    text-decoration-color: darkorange;*/
    text-decoration-color: #25ca7f;
}


/*MAIN SECTION*/

main {
    background-color: #232531;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
}

main .fa {
    color: whitesmoke;
}

.flex-setting{

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap;
}

.intro {
       /* text-align: left !important;
       border: 1px solid red !important;
       padding-left: 100px; */
    padding-left: 40px;
    padding-right: 40px;
}

.inner {
    text-align: center;
    border: 1px solid #ddd;
    margin-left: -15px;
    margin-right: -15px;
    /*    width: 100%;*/
    height: 230px;
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.inner h2 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.inner a {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: white;
}

#main-content .inner a:hover {
    /*    background-color: #283640;*/
    /*    background-color: coral;*/
    /*    color: #ffb100; */
    color: #25ca7f;
}

.inner .img-box {
    margin-top: 50px;
}


/*ABOUT PAGE*/

.col-md-2 {
    /*    border: 1px solid  red;*/
}

.wrapper {
    display: block;
    /*    border: 1px solid blue;*/
    text-align: center;
    /*    height: 90vh;*/
    /*    padding-top: 50px;*/
    background-color: whitesmoke;
}

.wrapper h1 {
    font-family: "Oswald", sans-serif;
    font-size: 165px;
    font-weight: 900;
    color: #283040;
    /*    opacity: 0.1;*/
    /*    border: 1px solid red;*/
}

#education-experience {
    padding-bottom: 50px;
}

.about-content h1 {
    margin-top: 80px;
    font-size: 20px;
}

.about-content h1::after {
    position: absolute;
    left: 15px;
    top: 96px;
    background-color: #25ca7f;
    height: 8px;
    width: 7%;
    content: "";
    top: 5;
    z-index: -1;
}

.about-content>h5 {
    margin-top: 50px;
}

.about-content p {
    font-size: 12px;
    line-height: 20px;
}

.title h1 {
    /*    border: 1px solid red;*/
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 20px;
}

.title h1:after {
    position: absolute;
    left: 15px;
    top: 96px;
    background-color: #25ca7f;
    height: 8px;
    width: 8%;
    content: "";
    top: 5;
    z-index: -1;
}

.progress {
    height: 10px;
    border-radius: 50px;
    /*    border: 1px solid #25ca7f;*/
}

.skill-item .progress .progress-bar {
    background-image: linear-gradient(to bottom, #25ca7f 0, #25ca7f 100%);
    background-color: #25ca7f;
}

.skill-item .progress .progress-value {
    /*    background-color: #ffb100;*/
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto Mono", monospace;
}

.skill-item .progress .html5 {
    position: absolute;
    top: 10px;
    right: 30px;
}

.skill-item .progress .css {
    position: absolute;
    top: 65px;
    right: 30px;
}

.skill-item .progress .js {
    position: absolute;
    top: 120px;
    right: 30px;
}

.skill-item .progress .bootstrap {
    position: absolute;
    top: 175px;
    right: 30px;
}

.advertise {
    display: inline-flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding-bottom: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.advertise a {
    color: #283040;
    background-color: whitesmoke;
    font-family: "Roboto Mono";
    float: right;
    margin-top: 30px;
}

.advertise a:hover {
    text-decoration: none;
    color: #283040;
    background-color: whitesmoke;
    font-weight: bold;
}


/*SERVICE PAGE*/

.service-title {
    margin-top: 80px;
}

.service-title h1 {
    font-size: 20px;
    padding-bottom: 50px;
}

.service-title h1:after {
    position: absolute;
    left: 27px;
    top: 96px;
    background-color: #25ca7f;
    height: 8px;
    width: 11%;
    content: "";
    top: 5;
    z-index: -1;
}

.service-wrapper {
    width: 100%;
    /* height: 390px; */
    /* border: 1px solid red; */
}

.service-card {
    padding-bottom: 20px;
    padding-top: 20px;
    /* border-radius: 30px; */
}
.service__box{
    margin-bottom: 100px !important;
    /* margin: 50px auto; */
}

/* .service-card:hover{
    box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.5);
} */

.service-card:hover h5 {
    /* transform: scale(1.1); */
    color: #25ca7f;
    transition: 0.5s;
}

.fa,
.fab {
    color: #25ca7f;
}


/**************** 
    WORK SECTION
*****************/

#work {
    padding: 80px 0px 50px 0px;
}

.row-space {
    margin-bottom: 40px;
}

.work-heading {
    margin-bottom: 80px;
}

.work-heading:after {
    position: absolute;
    left: 106px;
    top: 180px;
    background-color: #25ca7f;
    height: 8px;
    width: 11%;
    content: "";
    top: 5;
    z-index: -1;
}

.work-img img {
    filter: grayscale(95%);
}

.work-img:hover img {
    filter: grayscale(0%);
}

.left-img,
.right-img {
    width: 100%;
    height: auto;
}

.work-content {
    padding: 30px 30px 20px 30px;
    ;
}

.work-content h2 {
    margin-bottom: 30px;
}

.work-content p {
    line-height: 25px;
}

.work-content a {
    text-decoration: none;
    color: whitesmoke;
    font-family: "Roboto Mono", monospace;
}

.work-content a:hover {
    color: #25ca7f;
}


/***********************  
CONTACT PAGE
***********************/

#contact {
    padding: 80px 0px 50px 0px;
}

.contact-heading {
    margin-bottom: 80px;
    margin-left: 30px;
}

.contact-heading:after {
    position: absolute;
    left: 180px;
    top: 180px;
    background-color: #25ca7f;
    height: 8px;
    width: 11%;
    content: "";
    top: 5;
    z-index: -1;
}

.contact-form {
    /* border: 1px solid red; */
    margin: 50px 0px;
    margin-top: 10px !important;
}

.cont-form{
    margin-top: 50px;
    margin-left: -20px;
}


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: none;
    border-bottom: 1px solid #ccc;
    /* Gray border */
    border-radius: 0px !important;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #232531;
    color: whitesmoke;
    font-family: "Roboto Mono", monospace;
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: whitesmoke !important;
    color: #232531;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    margin-left: 15px;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    /* background-color: #45a049; */
}


/* Add a background color and some padding around the form */


/* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

input[type=text]::placeholder {
    color: whitesmoke;
    font-family: "Roboto Mono", monospace;
}

 ::placeholder {
    color: whitesmoke;
    font-family: "Roboto Mono", monospace;
}

label {
    color: whitesmoke;
    font-family: "Roboto Mono", monospace;
    display: none;
}

input[type=text]:focus,
textarea:focus {
    box-shadow: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #232531;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    border-bottom: 1px solid #ccc;
    -webkit-text-fill-color: whitesmoke;
    -webkit-box-shadow: 0 0 0px 1000px #232531 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.contact-details {
    padding-left: 50px;
    margin: 50px 0px;
    margin-top: 10px !important;
}


/* ***************
EDUCATION AND EXPERIENCE SECTION
******************/

#education-experience {
    padding-top: 50px;
}

.education h4,
.experience h4 {
    padding-bottom: 30px;
}

.education h5,
.experience h5 {
    font-weight: 900;
}

.education h4:after {
    position: absolute;
    left: 15px;
    top: 22px;
    background-color: #25ca7f;
    height: 8px;
    width: 22%;
    content: "";
    top: 5;
    z-index: -1;
}

.experience h4:after {
    position: absolute;
    left: 15px;
    top: 22px;
    background-color: #25ca7f;
    height: 8px;
    width: 25%;
    content: "";
    top: 5;
    z-index: -1;
}


/* FOOTER */

footer {
    /* border: 1px solid red; */
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
    padding: 10px 60px 5px 60px;
    background-color: #232531;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

/* footer .copy-right {
    float: left;
    padding-top: 2px;
    font-size: 11px;
    color: #999;
}

footer .social-links {
    float: right;
} */

footer .social-links a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: whitesmoke;
    font-size: 15px;
}
